.sub-navbar-container {
  display: flex;
  justify-content: center;
}

.sub-navbar {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  position: fixed;
  background-color: rgba(15, 15, 30, 0.7);
  margin-top: 15px;
}

.sub-navbar a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  transition: all 0.3s ease;
}

.sub-navbar a:hover {
  background-image: linear-gradient(90deg, #007bff, #5f57ff, #b33df2, #ff2c9c);
  background-size: 200% 100%;
  background-position: left center;
  color: white;
  filter: brightness(1.12) drop-shadow(0 2px 8px #b26be880);
  transition: 
    background-position 0.7s cubic-bezier(0.4, 0, 0.2, 1),
    filter 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-navbar a:hover {
  background-position: right center;
}

.sub-navbar a.active {
  background-image: linear-gradient(90deg, #007bff, #5f57ff, #b33df2, #ff2c9c);
  background-size: 200% 100%;
  background-position: right center;
  border: none;
  color: white;
  filter: brightness(1.12) drop-shadow(0 2px 8px #b26be880);
  transition: 
    background-position 0.7s cubic-bezier(0.4, 0, 0.2, 1),
    filter 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 993px) {
  .sub-navbar {
    width: 80vw;
    height: 6vh;
    justify-content: space-around;
    top: 10vh;
    left: 10vw;
  }

  .sub-navbar span {
    display: none;
  }
}
